.griglia{
	fx-color: rgb(54, 54, 54);
	-fx-text-fill: rgb(255, 255, 255);
}
.titolo{
	-fx-text-fill: rgb(255, 255, 255);
	-fx-text-alignment: center;
	-fx-font-size: 30px;
	-fx-max-width: 1000px;
	-fx-font-family: 'monospace';
	}
.button{
	-fx-border-radius: 20px;
	-fx-background-radius: 25px;
	-fx-padding: 10px;
	-fx-font-weight: bold;
	-fx-text-fill: rgb(233, 175, 1);
	-fx-background-color: rgb(173, 61, 12);
	-fx-min-width: 100px;
}
.button:hover{
	-fx-border-width: 5px;
	-fx-border-color: rgb(233, 175, 1);
	-fx-padding: 4px;
}
.buttonAggiorna{
	-fx-pref-width: 200px;
}